@model VPFCoreProject.Areas.VPF.Models.VPFCore

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>VPFCore</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CoreId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CoreId)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.MenuID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MenuID)
            </dd>

    
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Privilege)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Privilege)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ParentMenuID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ParentMenuID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ResourceKey)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ResourceKey)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MenuID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
